# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib


# Executables
*.exe
*.out
*.app


.DS_Store
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
compile
config.guess
config.h.in
config.h.in~
config.sub
configure
depcomp
install-sh
missing
src/.DS_Store
src/Makefile.in
src/lib/Makefile.in
src/test/._Makefile
src/test/Makefile.in




