# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*kefile
config.h
config.log
config.status
src/.deps/
src/Makefile
src/bcsd
src/lib/.deps/
src/lib/Makefile
src/test/.deps/
src/test/Makefile
src/test/bc_test
stamp-h1
.la
*.a
*.lib


# Executables
*.exe
*.out
*.app






